:root{
    --primary-color:#289BDE;
    --text-color:#777777;
}
body{
    font-family: 'Poppins', sans-serif;
    color:var(--text-color);
}
h1,h2,h3,h4{
    color:#1D1D1D;
}
.navbar-brand{
    font-size:40px;
    font-weight: 600;
}
.bg-skyblue{
    background-color: var(--primary-color);
}
.text-skyblue{
    color:#289BDE;
}
.common-btn{
    color:#ffffff;
    background-color: var(--primary-color);
    padding:13px 25px;
}
.common-btn-hover:hover{
    color: var(--primary-color);
}
.carousel-caption{
    bottom:auto;
}
.section_subject_area{
    max-width:190px;
}
.section_title {
    max-width: 463px;
}
.section_slogan {
    max-width: 595px;
}
.course_card{
    transition:0.3s;
}
.course_card:hover{
    box-shadow: 3px 5px 10px -3px rgba(0, 0, 0, 0.3);
}
.course_card img{
    width:200px;
    object-fit: cover;
}
.course_card h3{
    font-size:25px;
}
/* FAQ Section */
.faq_section .accordion{
    max-width: 872px;
}
/* Company Logo secton */
.company_logo .section_title{
    max-width:100%
}
@media only screen and (max-width:767px){
    .carousel-item > img{
        min-height:400px;
        object-fit:cover;
    } 
}
@media only screen and (max-width:575px){
    .display-3 {
        font-size: calc(0.85rem + 2vw);
    }
    .course_card img{
        width:100%
    }
    .course_card h3{
        font-size:16px;
    }
}